# Byte-compiled / Cache files
__pycache__/
*.py[cod]
*$py.class

# Environments & Secrets
**/.env*
.venv/
venv/

# Data & Model Weights
*.npy
*.w2v
*.pt

# Project Specific Results
Replicating Mullenbach/AWS/S3_Bucket/results/

# IDEs & OS Files
.idea/
.vscode/
.DS_Store